---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Registration from "../components/Registration.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
	<Header />
	<div class="bl_contents">
		<Hero />
		<Welcome />
		<Registration />
	</div>
	<Footer />
</Layout>

<style>
	.bl_contents {
		padding-top: 80px;
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

</style>