---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import News from "../components/News.astro";
import Venue from "../components/Venue.astro";
import Registration from "../components/Registration.astro";
import Schedule from "../components/Schedule.astro";
import Sponsorship from "../components/Sponsorship.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
	<Header />
	<div class="bl_contents">
		<Hero id="top"/>
		<News />
		<Welcome />
		<Venue />
		<Registration />
		<Schedule />
		<Sponsorship />
	</div>
	<Footer />
</Layout>

<style>
	.bl_contents {
		padding: 180px 120px 80px;
		display: flex;
		flex-direction: column;
		gap: 80px;
	}

</style>