---

---
<header class="bl_header">
    <h1 class="bl_header_logo">UWW2025</h1>
    <nav>
        <ul class="bl_header_list">
            <li class="bl_header_listItem">
                <a href="/#top">TOP</a>
            </li>
            <li class="bl_header_listItem">
                Access
            </li>
        </ul>
    </nav>
</header>

<style>
    .bl_header {
        width: 100%;
        background-color: #000;
        color: #fff;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
    }

    .bl_header_logo {
        padding: 12px 32px;
        font-size: 28px;
    }

    .bl_header_list {
        padding: 12px 32px;
        display: flex;
        gap: 18px;
    }

    .bl_header_listItem {
        font-size: 28px;
        font-weight: bold;
        list-style: none;
        > a {
            color: #fff;
            &:hover {
                opacity: 0.6;
            }
        }
    }
</style>