---

---
<header class="bl_header">
    <h1 class="bl_header_logo">UWW2025</h1>
    <nav>
        <ul class="bl_header_list">
            <li class="bl_header_listItem">Access</li>
        </ul>
    </nav>
</header>

<style>
    .bl_header {
        width: 100%;
        background-color: #000;
        color: #fff;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
    }

    .bl_header_logo {
        padding: 2px 12px;
        font-size: 20px;
    }

    .bl_header_list {
        padding: 0 16px;
    }

    .bl_header_listItem {
        font-size: 24px;
        list-style: none;
    }
</style>