---

---
<header class="bl_header">
    <h1 class="bl_header_logo">UWW2025</h1>
    <nav>
        <ul class="bl_header_list">
            <li class="bl_header_listItem">
                <a href="/#top">
                    <span aria-hidden="true" translate="no" class="bl_header_linkWrap">
                        <span class="letter" style="--index: 0">T</span>
                        <span class="letter" style="--index: 1">O</span>
                        <span class="letter" style="--index: 2">P</span>
                    </span>
                    <span class="sr-only">TOP</span>
                </a>
            </li>
            <li class="bl_header_listItem">
                <a href="/#access">
                    <span aria-hidden="true" translate="no" class="bl_header_linkWrap">
                        {["A", "C", "C", "E", "S", "S"].map((char, i) => (
                            <span class="letter" style={{ "--index": i } as any}>
                                { char }
                            </span>
                        ))}
                    </span>
                    <span class="sr-only">ACCESS</span>
                </a>
            </li>
            <li class="bl_header_listItem">
                <a href="/#schedule">
                    <span aria-hidden="true" translate="no" class="bl_header_linkWrap">
                        {["S", "C", "H", "E", "D", "U", "L", "E"].map((char, i) => (
                                <span class="letter" style={{ "--index": i } as any}>
                                { char }
                            </span>
                        ))}
                    </span>
                    <span class="sr-only">SCHEDULE</span>
                </a>
            </li>
        </ul>
    </nav>
</header>

<style>
    .bl_header {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
        color: #000;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        border-bottom: 1px solid #000;
    }

    .bl_header_logo {
        padding: 12px 32px;
        font-size: 28px;
    }

    .bl_header_list {
        padding: 12px 32px;
        display: flex;
        gap: 18px;
    }

    .bl_header_listItem {
        font-size: 28px;
        font-weight: bold;
        list-style: none;
    }

    .bl_header_linkWrap {
        display: flex;
        &:hover .letter {
            text-shadow: 0 0 0 #000, 0 1.5em 0 #000;
        }
    }

    .letter {
        overflow: hidden;
        color: transparent;
        text-shadow: 0 -1.5em 0 #000, 0 0 0 #000;
        transition: text-shadow 0.2s;
        transition-delay: calc(var(--index) * 0.05s);
    }

    .sr-only {
        position: absolute;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border-width: 0;
        white-space: nowrap;
    }

</style>