---

---
<section class="bl_title">
    <div class="bl_title_text">
        <span class="bl_title_text_lineOne"><span class="bl_title_text_invert">UBI</span>QUITOUS</span>
        <span class="bl_title_text_lineTwo"><span class="bl_title_text_invert">WEAR</span>ABLE</span>
        <span class="bl_title_text_lineThree">WORKSHOP <span class="bl_title_text_invert">2025</span></span>
    </div>
</section>

<style>
    .bl_title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bl_title_text {
        font-weight: bold;
        font-size: 120px;
        display: flex;
        flex-direction: column;
        > span {
            &:nth-child(1) {
                align-self: center;
            }
            &:nth-child(2) {
                align-self: center;
            }
            &:nth-child(3) {
                align-self: flex-end;
            }
        }
    }
    @media (max-width: 540px) {
        .bl_title_text {
            font-size: 48px;
        }
    }
    
    .bl_title_text_lineOne, .bl_title_text_lineTwo, .bl_title_text_lineThree {
        opacity: 0;
    }

    .bl_title_text_invert {
        color: #fff;
        background: #000;
    }
</style>

<script>
    import gsap from "gsap"
    const lineOne = document.querySelectorAll('.bl_title_text_lineOne');
    const lineTwo = document.querySelectorAll('.bl_title_text_lineTwo');
    const lineThree = document.querySelectorAll('.bl_title_text_lineThree');
    const tl = gsap.timeline();
    const mm = gsap.matchMedia();

    mm.add("(min-width: 540px)", () => {
        tl.to(lineOne, {
                opacity: 1,
                x: 40,
                duration: 0.4,
                ease: "power4.out"
            },
        );

        tl.to(lineTwo, {
                opacity: 1,
                y: 20,
                duration: 0.4,
                ease: "power4.out"
            },
        );

        tl.to(lineThree, {
                opacity: 1,
                x: -40,
                duration: 0.4,
                ease: "power4.out"
            },
        );
    });

    mm.add("(max-width: 540px)", () => {
        tl.to(lineOne, {
                opacity: 1,
                x: 20,
                duration: 0.4,
                ease: "power4.out"
            },
        );

        tl.to(lineTwo, {
                opacity: 1,
                y: 10,
                duration: 0.4,
                ease: "power4.out"
            },
        );

        tl.to(lineThree, {
                opacity: 1,
                x: -20,
                duration: 0.4,
                ease: "power4.out"
            },
        );
    });
</script>