---

---
<div class="bl_title">
    <div class="bl_title_text">UBIQUITOUS<br /> WEARABLE<br /> WORKSHOP 2025</div>
</div>

<style>
    .bl_title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bl_title_text {
        font-weight: bold;
        font-size: 124px;
    }
</style>