---

---
<div class="bl_title">
    <div class="bl_title_text">Ubiquitous<br /> Wearable<br /> Workshop 2025</div>
</div>

<style>
    .bl_title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bl_title_text {
        font-weight: bold;
        font-size: 94px;
    }
</style>