---

const newsItems = [
  { date: "2025/09/15", title: "UWW2025ウェブサイトを公開しました" },
];
---
<section class="bl_news">
    <h2 class="bl_news_title">ニュース</h2>
    <ul class="bl_news_list">
        {
            newsItems.map(({ date, title }) => (
                <li class="bl_news_list_item">
                    <span class="bl_news_list_item_date">{ date }</span>
                    <span class="bl_news_list_item_text">{ title }</span>
                </li>
            ))
        }
    </ul>
</section>

<style>
    .bl_news {
        padding: 12px 24px;
        background: rgba(200, 200, 200, 0.4);
    }

    .bl_news_title {
        font-size: var(--title-font-size-pc);
    }

    .bl_news_list {

    }

    .bl_news_list_item {
        font-size: var(--description-font-size-pc);
        display: flex;
        gap: 24px;
    }

    .bl_news_list_item_date {
        font-weight: bold;
    }


    @media (max-width: 540px) {
        .bl_news {
            padding: 8px 12px;
        }

        .bl_news_title {
            font-size: var(--title-font-size-sp);
        }

        .bl_news_list_item {
            font-size: var(--description-font-size-sp);
            gap: 12px;
        }
    }
</style>