---

const newsItems = [
  { date: "2025/09/15", title: "UWW2025ウェブサイトを公開しました" },
];
---
<section class="bl_news">
    <h2 class="bl_news_title">News</h2>
    <ul class="bl_news_list">
        {
            newsItems.map(({ date, title }) => (
                <li class="bl_news_list_item">
                    <span>{ date }</span><span>{ title }</span>
                </li>
            ))
        }
    </ul>
</section>

<style>
    .bl_news {
        padding: 12px 24px;
        background: rgba(200, 200, 200, 0.4);
    }

    .bl_news_title {
        font-size: 32px;
    }

    .bl_news_list {

    }

    .bl_news_list_item {
        font-size: 28px;
    }
</style>