---

const committee = [
  { role: "ワークショップ委員長", person: ["塚本昌彦 (神戸大)"] },
  { role: "ワークショップ副委員長 ", person: ["寺田 努 (神戸大)"] },
  { role: "実行委員長", person: ["村尾和哉 (立命館大)"] },
  { role: "実行副委員長", person: ["大西鮎美 (神戸大)"] },
  { role: "会計", person: ["金 宏潤 (神戸大)"] },
  { role: "出版", person: ["吉田航輝 (OKI電気), 藤井敦寛 (立命館大)"] },
  { role: "ウェブページ", person: ["岡 大貴 (株式会社ICS)"] },
  { role: "投稿システム", person: ["土田修平 (お茶の水女子大)"] },
  { role: "プログラム", person: ["渡邉拓貴 (はこだて未来大)"] },
  { role: "投票・表彰", person: ["双見京介 (立命館大)"] },
  { role: "参加者管理", person: ["松井菜摘 (神戸大)"] },
  {
    role: "ローカル",
    person: ["張 月, Adhe Rahmatullah Sugiharto, Ahmad Fauzi (神戸大)"],
  },
  { role: "ナイトセッション", person: ["Salman Suwandi, 鷲野 海 (神戸大)"] },
];
---
<section class="bl_organization">
    <h2 class="bl_organization_title">
        <span class="bl_organization_title_num">04</span> 運営委員会
    </h2>
    <div class="bl_organization_tableContent">
        <table class="bl_organization_table">
            <tbody>
            { committee.map(({ role, person }) => (
                <tr class="bl_organization_table_row">
                    <th>{ role }</th>
                    <td>{ person }</td>
                </tr>
            ))}
            </tbody>
        </table>
    </div>
</section>

<style>
    .bl_organization {

    }


    .bl_organization_title {
        font-size: var(--title-font-size-pc);
    }

    .bl_organization_title_num {
        background: #000;
        color: #fff;
        padding: 8px;
    }

    .bl_organization_tableContent {
        display: grid;
        place-items: center;
    }

    .bl_organization_table {
        border-collapse: collapse;
        tbody > tr {
            border-bottom: 1px solid #000;
            &:last-child {
                border-bottom: none;
            }
        }
    }

    .bl_organization_table_row  {
        font-size: 20px;
        th, td {
            padding: 12px 24px;
        }

        th {
            border-right: 1px solid #000;
        }
    }

    @media (max-width: 540px) {
        .bl_organization_title {
            font-size: var(--title-font-size-sp);
        }

        .bl_organization_title_num {
            background: #000;
            color: #fff;
            padding: 8px;
        }

        .bl_organization_tableContent {
            display: grid;
            place-items: center;
        }

        .bl_organization_table_row {
            font-size: var(--description-font-size-sp);
            th {
                padding: 6px 10px;
            }
            td {
                padding: 8px;
            }
        }
    }
</style>