---
const urlPrefix = "https://tt-lab.jp/uww";
const previousUwwInfo = Array.from({ length: 2024 - 2007 + 1 }, (_, i) => {
  const year = 2024 - i;
  return {
    title: String(year),
    link: `${urlPrefix}${year}`,
  };
});
---
<section class="bl_pastUwwLinks">
    <h2 class="bl_pastUwwLinks_title">過去のUWW</h2>
    <ul class="bl_pastUwwLinks_list">
        {previousUwwInfo.map(({ title, link }) => (
            <li>
                <a href={ link }>
                { title }
               </a>
            </li>
        ))}

    </ul>
</section>

<style>
    .bl_pastUwwLinks {

    }

    .bl_pastUwwLinks_title {
        font-size: 38px;
        text-decoration: underline;
    }

    .bl_pastUwwLinks_list {
        font-size: 28px;
    }
</style>