---

const scheduleInfo = [
  {
    date: "12/19 (金)",
    timeTable: [
      { time: "09:00 -- 09:30", event: "受付" },
      { time: "09:30 -- 09:40", event: "オープニング" },
      { time: "09:40 -- 18:30", event: "口頭発表セッション (途中休憩あり)" },
      { time: "18:50 -- 20:50", event: "ナイトセッション" },
    ],
  },
  {
    date: "12/20 (土)",
    timeTable: [
      { time: "09:30 -- 18:00", event: "口頭発表セッション（途中休憩あり）" },
      { time: "18:00 -- 18:20", event: "表彰・クロージング" },
    ],
  },
];
---
<section class="bl_schedule" id="schedule">
    <h2 class="bl_schedule_title">
        <span class="bl_schedule_title_num">03</span> スケジュール
    </h2>
<div class="bl_schedule_tableContent">
    {
        scheduleInfo.map(({ date, timeTable }) => (
            <div>
            <h3 class="bl_schedule_tableTitle">{ date }</h3>
            <table class="bl_schedule_table">
                <thead>
                <tr>
                    <th scope="col">時刻</th>
                    <th scope="col">内容</th>
                </tr>
                </thead>
                <tbody>
                {timeTable.map(({ time, event }) => (
                        <tr>
                            <td>{ time }</td>
                            <td>{ event }</td>
                        </tr>
                ))}
                </tbody>
            </table>
            </div>
    ))
    }
</div>

</section>

<style>
    .bl_schedule_title {
        font-size: var(--title-font-size-pc);
    }

    .bl_schedule_title_num {
        background: #000;
        color: #fff;
        padding: 8px;
    }


    .bl_schedule_tableContent {
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
    }

    .bl_schedule_tableTitle {
        font-size: var(--subtitle-font-size-pc);
    }

    .bl_schedule_table {
        border-collapse: collapse;
        font-size: 20px;
        thead > tr {
            border-bottom: 2px solid #000;
            background: #f0f0f0;
            & > th {
                padding: 12px 24px;
                &:first-child {
                    border-right: 2px solid #000;
                }
            }
        }

        tbody > tr {
            text-align: center;
            & > td {
                padding: 12px 24px;
                &:first-child {
                    border-right: 2px solid #000;
                }
            }

        }
    }

    @media (max-width: 540px) {
        .bl_schedule_title {
            font-size: var(--title-font-size-sp);
        }

        .bl_schedule_title_num {
            background: #000;
            color: #fff;
            padding: 8px;
        }


        .bl_schedule_tableContent {
            grid-template-columns: repeat(1, 1fr) ;
            gap: 8px;
        }

        .bl_schedule_tableTitle {
            font-size: var(--subtitle-font-size-sp);
        }

        .bl_schedule_table {
            font-size: 16px;
        }
    }
</style>

