---
---
<section class="bl_welcome">
	<p class="bl_welcome_text">
		ユビキタス・ウェアラブル技術の発展はめざましく、
		これらの技術に関する研究開発が活発に行われています。<br />
		神戸大学塚本・寺田研究室および
		NPO法人ウェアラブルコンピュータ研究開発機構では、<br />
		ユビキタス・ウェアラブルワークショップを2007年以来、
		毎年開催しており今年は19回目となります。<br />
		2024年に引き続き、
		2025年は現地開催を予定しております。<br />
		下記の通りの企画をしておりますので、
		是非ご参加いただけますようお願いいたします。
	</p>
	<ul class="bl_welcome_list">
		<li>A4原稿1枚記述 (原稿テンプレートは本ページからダウンロードをお願いします。)</li>
		<li>一人10分程度のショートプレゼンテーション</li>
		<li>参加者間の交流を目指した1泊2日の合宿型ワークショップ</li>
		<li>実践的な情報処理技術に関する特別な企画などを含んだ「ナイトセッション」</li>
	</ul>
</section>

<style>
	.bl_welcome {
		display: grid;
		place-items: center;
	}

	.bl_welcome_text {
		font-size: 30px;
	}

	.bl_welcome_list {
		font-size: 28px;
	}

	@media (max-width: 540px) {
		.bl_welcome_text {
			font-size: 20px;
		}

		.bl_welcome_list {
			font-size: 18px;
		}
	}
</style>